-- Create test table for verifying type-aware editors
CREATE TABLE IF NOT EXISTS test_types (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    salary DECIMAL(10, 2),
    birth_date DATE,
    last_login DATETIME,
    is_active BOOLEAN
);

-- Insert sample data
INSERT INTO test_types (name, age, salary, birth_date, last_login, is_active)
VALUES 
('John Doe', 30, 55000.50, '1994-05-15', '2023-10-27 10:30:00', 1),
('Jane Smith', 25, 62000.00, '1999-11-22', '2023-11-01 14:45:00', 1),
('Bob Wilson', 45, 48000.75, '1979-01-10', '2023-09-15 09:00:00', 0),
('Alice Brown', 28, 75000.25, '1996-07-04', '2024-01-12 16:20:00', 1);

-- Select data to verify
SELECT * FROM test_types;
